accelerate
datasets
faiss-cpu
gdown
GitPython
google-generativeai
hydra-core
hydra-submitit-launcher
jsonlines
loguru
numpy
openai
pandas
pydantic
pytest
PyYAML
requests
scikit-learn
submitit
tabulate
torch
tqdm
transformers
wget
